# Cocos Creator 3.8.8
library/
temp/
local/
build/
packages/
.creator/
.editor/
.meta-cache/
creator.d.ts

# 编辑器本地配置
profiles/

# npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 打包输出
publish/
release/
build-report.html
build-report.json

# IDE和系统文件
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
